.heading {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(102, 22, 223);
    text-align: center;
    font-size: 40px;
}
.image {
    height: auto;
    width: 400px;
}
.main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    background-color:rgb(69, 3, 168) ;
    text-align: center;
    font-size: 32px;
}
.list {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.description {
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}